$headings: (
	"h1": (
		"desktop": (
			"font-size": 42,
			"line-height": 52
		),
		"mobile": (
			"font-size": 28,
			"line-height": 36
		),
		"font-weight": $w-bold,
		"color": #05134a
	),
	"h2": (
		"desktop": (
			"font-size": 36,
			"line-height": 52
		),
		"mobile": (
			"font-size": 24,
			"line-height": 29
		),
		"font-weight": $w-bold,
		"color": #020d2c
	),
	"h3": (
		"desktop": (
			"font-size": 21,
			"line-height": 32
		),
		"mobile": (
			"font-size": 18,
			"line-height": 23
		),
		"font-weight": $w-medium,
		"color": #202020
	),

	"p1": (
		"desktop": (
			"font-size": 18,
			"line-height": 36
		),
		"mobile": (
			"font-size": 15,
			"line-height": 20
		),
		"font-weight": $w-regular,
		"color": #454545
	),
	"p2": (
		"desktop": (
			"font-size": 16,
			"line-height": 32
		),
		"mobile": (
			"font-size": 14,
			"line-height": 18
		),
		"font-weight": $w-regular,
		"color": #3e3e3e
	),
	"p3": (
		"desktop": (
			"font-size": 14,
			"line-height": 24
		),
		"mobile": (
			"font-size": 13,
			"line-height": 18
		),
		"font-weight": $w-regular,
		"color": #7b7b7b
	)
);

@each $type, $sizes in $headings {
	.gl-#{$type} {
		color: #{map-get($sizes, 'color')};
		font-weight: #{map-get($sizes, 'font-weight')};

		@include desktop() {
			font-size: #{map-get(map-get($sizes, 'desktop'), 'font-size')}px;
			line-height: #{map-get(map-get($sizes, 'desktop'), 'line-height')}px;
		}

		@include mobile() {
			font-size: #{map-get(map-get($sizes, 'mobile'), 'font-size')}px;
			line-height: #{map-get(map-get($sizes, 'mobile'), 'line-height')}px;
		}
	}
}

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }
.text-uppercase      { text-transform: uppercase; }
