.gl-link {
    @extend %reset-button;

    position: relative;
    font-size: 20px;
    font-weight: $w-bold;
    color: #0087cb;
    padding-bottom: 10px;
    text-decoration: none !important;

    @include mobile {
        font-size: 14px;
        line-height: 20px;
    }


    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 4px;
        background-color: #0087cb;
    }

    &:hover {
        color: #0087cb;
    }

    &:focus {
        color: darken(#0087cb, 20%);

        &:before {
            background-color: darken(#0087cb, 20%);
        }
    }

    &:active {
        color: lighten(#0087cb, 20%);

        &:before {
            background-color: lighten(#0087cb, 20%);
        }
    }

    &.no-underline:before {
        display: none;
        content: none;
    }

    span,
    i {
        display: inline-block;
        vertical-align: middle;
    }

    i {
        font-size: 16px;
    }

    span {
        font-size: 14px;
    }
}
