.mobile-menu-wrapper {
    @include transition;

    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    overflow: auto;
    padding: 70px 25px 30px;
    width: 100%;
    background-color: $white;
    z-index: 9999;
    text-transform: uppercase;

    @include desktop {
        display: none;
    }


    body.menu-toggled & {
        left: 0;
    }

    .menu-list {
        padding-top: 20px;
        text-align: left;

        li {
            display: block;
            line-height: 30px;
            border-bottom: 1px solid rgba($black, 0.1);
            font-size: 14px;

            &:last-child {
                border-bottom: none;
            }
        }

        a {
            @include transition;

            display: block;
            padding: 15px 0;
            text-decoration: none !important;

            &:hover {
                padding-right: 10px;
            }
        }
    }
}
