.page-information {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $white;
    background-color: #ff971b;
    min-height: 52px;

    @include desktop {
        height: 52px;
        border-radius: 4px;
        transform: translateY(-50%);
    }


    @include mobile {
        margin-bottom: 20px;
    }
}
