// Sizes
$header-height-desktop: 85px;
$header-height-mobile: 66px;

$font-folder: "../fonts";
$main-font: "Ubuntu", sans-serif;

// Fonts
$w-regular: 400;
$w-medium: 500;
$w-bold: 700;

// Colors
$color-primary: #6b45a7;
$white: #ffffff;
$black: #333333;

// Screen size
$screen-xs: 0;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$screen-xs-min: $screen-xs;
$screen-sm-min: $screen-sm;
$screen-md-min: $screen-md;
$screen-lg-min: $screen-lg;

$screen-xs-max: $screen-sm - 1;
$screen-sm-max: $screen-md - 1;
$screen-md-max: $screen-lg - 1;

// Container size
$container-xs: 100%;
$container-sm: 750px;
$container-md: 945px;
$container-lg: 945px;
