@mixin reset-input() {
	display: block;
	width: 100%;

	padding: 0;
	border: 0;
	background: none;
	outline: none;

	&,
	&::placeholder {
		font-weight: $w-regular;
	}
}

%reset-input {
	@include reset-input();
}
